# Make sure ALL of these are declared in your Edge Function settings

# SUPABASE_URL=
# SUPABASE_SERVICE_ROLE_KEY=

# When testing locally, only copy the following to your .env file
SYSTEM_CRON_SECRET=
DOCKER_CONTROL_TOKEN=

DISCORD_COMPLAINT_WEBHOOK_URL=

PATREON_ACCESS_TOKEN=
PATREON_CLIENT_ID=
PATREON_CLIENT_SECRET=
PATREON_CAMPAIGN_ID=
PATREON_CAMPAIGN_SUPPORTER_TIER_ID=

# Google Calendar Integration
# Will end with @group.calendar.google.com
GOOGLE_CALENDAR_ID=
# This is the service account key in JSON format, copy the entire content of the file i.e. {"type":"service_account","project_id":"your-project-123456",...}
GOOGLE_SERVICE_ACCOUNT_KEY=
