@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

@mixin font-regular {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: "Arimo", sans-serif;
  font-weight: 900;
}

:root {
  --color-white: #e5eae4;
  --color-black: #0d0d0d;
  --color-black-light: #3c3c3c;
  --color-green: #77ca25;
  --color-green-light: #b8eb85;
  --color-green-dark: #588e22;
}

:root.dark-theme {
  --color-black: #d1cece;
  --color-white: #171717;
  --color-black-light: #8d8d8d;

  #dark-mode-toggle {
    color: var(--color-white);

    &:before {
      transform: scale(1);
      opacity: 1;
      background-color: var(--color-green);
    }
  }

  .button {
    background-color: var(--color-green);
    color: var(--color-white);
  }

  main .content-container .section-join {
    a,
    button {
      background-color: #222222;
      color: var(--color-black);

      &:hover {
        background-color: rgba(#222222, 0.7);
      }
    }
  }

  #copy {
    img {
      filter: invert(1);
    }
  }
}

html body {
  position: relative;
  background-color: var(--color-white);

  * {
    @include font-regular;
    color: var(--color-black);
    word-wrap: break-word;
  }

  #copy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 40px;
    padding-bottom: 80px;

    img {
      display: block;
      width: 16px;
      height: 16px;
      object-fit: contain;
      opacity: 0.5;
    }

    p {
      display: block;

      font-size: 1rem;
      color: var(--color-black-light);

      a {
        color: var(--color-green);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font-bold;
    display: block;
    margin-bottom: 32px;
  }

  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 8rem;
  }

  h3 {
    font-size: 6rem;
  }

  h4 {
    font-size: 4rem;
  }

  h5 {
    font-size: 3rem;
  }

  h6 {
    font-size: 2rem;
  }

  p {
    display: block;
    font-size: 1.5rem;
    line-height: 1.55em;
  }

  hr {
    margin: 64px 0;
    border-bottom: 3px solid var(--color-black);
  }
}

main {
  display: grid;
  gap: 0;
  grid-template-columns: 2.5fr 1fr;
  min-height: 100vh;

  .content-container {
    padding: 40px;
    max-width: 1440px;
    padding-bottom: 156px;

    p {
      width: 90%;
    }

    .section-header {
      .top-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-right: 24px;

        button,
        span {
          display: block;
          text-transform: uppercase;
          color: var(--color-black-light);
          font-size: 0.8rem;
          letter-spacing: 0.1em;
        }

        button:hover {
          color: var(--color-black);
        }
      }

      h1 {
        margin-bottom: 64px;
      }
    }

    .section-join {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      gap: 40px;

      h5 {
        margin-bottom: 0;
      }

      a,
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        // border-radius: 4px;
        background-color: var(--color-black);
        color: var(--color-white);
        height: 56px;
        line-height: 56px;
        font-size: 1.2rem;

        &:hover {
          background-color: var(--color-black-light);
        }

        img {
          display: block;
          object-fit: contain;
          object-position: center;
          max-width: 20px;
          max-height: 20px;
        }
      }
    }

    .section-about {
      .admins {
        display: grid;
        margin-bottom: 64px;
        grid-template-columns: 1fr 1fr 1fr;
        border: 3px solid var(--color-black);
        background-color: var(--color-white);
        z-index: 5;
        position: relative;

        .admin {
          display: block;
          padding: 40px;
          z-index: 10;
          background-color: var(--color-white);

          img {
            width: 156px;
            height: 156px;
            display: block;
            margin-bottom: 20px;
            border: 0 !important;
            object-fit: cover;
            object-position: center;

            &.image-error {
              background-color: var(--color-green);
              opacity: 0.25;

              &:before {
                content: "huh";
              }
            }
          }

          strong {
            @include font-bold();
            font-size: 1.6rem;
            display: block;
            margin-bottom: 4px;
            text-transform: uppercase;
          }

          p {
            font-size: 1.2rem;
            margin: 0;
            color: var(--color-black-light);
          }
        }
      }

      .moderators {
        // display: block;
        display: grid;
        // margin: 40px 0;
        margin-bottom: 64px;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        .moderator {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 23px;

          height: 64px;
          padding: 0 8px;
          line-height: 64px;
          // padding-left: 64px;
          border: 3px solid var(--color-black-light);

          strong {
            font-size: 1.2rem;
            margin: 0;
          }

          img {
            background-color: var(--color-black);
            display: block;
            width: 40px;
            height: 40px;
            object-fit: cover;
            object-position: center;
          }
        }
      }

      p {
        margin-bottom: 32px;
      }
    }
  }

  .teamspeak-container {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    padding-top: 5em;
    padding: 40px;
    max-height: 100vh;
    border-left: 3px solid var(--color-black);

    h5 {
      margin-bottom: 64px;
    }
  }
}

.flex-1 {
  flex: 1;
}

.button {
  transition: 0.1s all linear;

  @include font-bold;
  // border-radius: 4px;
  display: block;
  height: 64px;
  line-height: 64px;
  text-align: center;
  background-color: var(--color-green);
  color: var(--color-black);
  font-size: 1.2rem;
  text-transform: uppercase;

  &:hover {
    background-color: var(--color-green-dark);
  }
}

button {
  cursor: pointer;
}

.hover-bubble {
  position: relative;
  z-index: 5;

  &:hover {
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:before {
    content: "";
    transition: 0.1s all linear;
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    inset: -12px -20px;
    background-color: var(--color-green-light);
    transform: scale(0.9);
    opacity: 0;
  }
}

.frame {
  position: relative;
  z-index: 10;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--color-black);
    inset: 0;
    z-index: -1;
    transform: translate(15px, 15px);
  }
}
