.route-votes {
  padding-top: 128px;

  .vote-article {
    position: relative;

    &:hover {
      background-color: var(--color-bg-lowered);

      .vote-avatars .vui-avatar {
        border-color: var(--color-bg-lowered);
      }
    }

    .vote-author {
      position: absolute;
      top: var(--space-m);
      right: var(--space-m);

      a {
        color: var(--color-accent);
        font-size: var(--font-size-s);
      }
    }

    .vote-avatars {
      --avatar-offset: 12px;

      display: flex;
      gap: 4px;
      align-items: center;
      margin-left: var(--avatar-offset);

      .vui-avatar {
        margin-left: calc(var(--avatar-offset) * -1);
        margin-top: -2px;
        border: 2px solid var(--color-bg);
        z-index: 1;
      }
    }
  }
}