@use "sass:meta";

// Place global styles which should be available on all pages here
:root {
  --dark-color-bg: rgb(10,10,10);
  --dark-color-accent: #6AFF67;
  // --light-color-accent: #6AFF67;

  --container-l: 1220px;
  --container-m: 1024px;
  
  // --font-size-m: 1.4rem;
}

a {
  text-decoration: none;
}

.link-line {
  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

html {
  color: var(--color-text);
}

.iconify {
  color: var(--color-text)
}

@include meta.load-css('./header.scss');
@include meta.load-css('./layout.scss');
