@use "sass:meta";

// Place global styles which should be available on all pages here
:root {
  --color-bg: rgb(10,10,10);
  --color-accent: #6AFF67;

  --container-l: 1400px;
  --container-m: 1124px;
  
  // --font-size-m: 1.4rem;
}

a {
  text-decoration: none;
}

.link-line {
  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: none;
  }
}

html {
  color: var(--color-text);
}

// TODO: remove when vui fixes max width
.container {
  max-width: var(--container-l);
}

@include meta.load-css('./header.scss');
@include meta.load-css('./layout.scss');