@use '../breakpoints.scss' as *;

.page-landing {
  width: 100%;
  height: 100%;
  flex: 1;
}

.page {
  width: 100%;
  padding-block: calc(var(--navbar-offset) + 4rem);
  height: 100%;
  flex: 1;
}

.page-small {
  max-width: 640px;
}

.page-title {
  padding: var(--space-l) 0;

  h1 {
    margin-bottom: var(--space-xs);
    font-size: var(--font-size-xxxl);
  }

  p {
    font-size: var(--font-size-m);
    // color: var(--text-color-light);
  }
}

@media screen and (max-width: $breakpoint-m) {
  .page {
    padding-block: calc(var(--navbar-offset) + 2rem);
  }
}
