// SCSS Variables for breakpoints (used at build time)
$breakpoint-xs: 480px;
$breakpoint-s: 768px;
$breakpoint-m: 1024px;
$breakpoint-l: 1280px;
$breakpoint-xl: 1440px;

// Special breakpoint to catch VUI-related breakpoint changes
$breakpoint-vui-mobile: 572px;
